@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print Settings */
@media print {
  .no-print {
    display: none !important;
  }

  body * {
    visibility: hidden;
  }

  .receipt-print, .receipt-print * {
    visibility: visible;
  }

  .receipt-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
@media print {
  .no-print {
    display: none;
  }
  body {
    background: white;
  }
}